<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/"><b>Route Pin </b><i class="fas fa-route fa-lg"></i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <div class="navbar-nav ml-auto">
                    <form class="form-inline mt-2 mt-md-0">
                        {{!-- <a href="/admin" class="navbar-brand">
                            <i class="far fa-user"></i> Administrator
                        </a> --}}
                        <a href="/cart" class="navbar-brand">
                        <i class="fas fa-shopping-bag fa-lg"></i>
                        <i class="badge badge-pill badge-danger" id="cart_n"></i>
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </nav>
</header>
<div class="container mt-4">
    <main role="main">
        <div class="row">
            <div class="col">
                <h1>Orders</h1>
                <div class="table-responsive-sm">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Order</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each order}}
                                <tr>
                                    <td>{{this._id}}</td>
                                    <td>{{this.order}}</td>
                                    <td>{{this.total}}</td>
                                    <td>
                                  <a class="btn btn-primary" href="/order/{{this._id}}">Update</a>
                                <a class="btn btn-danger" href="/order/delete/{{this._id}}">Delete</a>
                                        
                                    </td>
                                </tr>
                            {{/each}}
                        </tbody>                        
                    </table>
                </div>
            </div>
        </div>
    </main>
</div>